*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-family: $font-regular;
}

body {
  font-family: $font-regular;
  font-size: 12px;
}
